.publications {
  height: 600px;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.publications ul {
  list-style-type: none;
}
.publications li{
  margin-bottom: 2rem;
}