.publications {
  height: 600px;
  line-height: 2rem;
}
.publications-kind {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #57606f;
}
.publications ul {
  list-style-type: none;
}
.publications li{
  margin-bottom: 2rem;
}