@font-face {
	font-family: 'Helvetica-Neue';
	src: url('../../../static/font/Helvetica-Neue-2.ttf') format('woff2');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  /* overflow-x: scroll; */
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Helvetica-Neue';
}
