#app-container {
  margin: 5rem;
}
#app-main {
  display: flex;
}
#app-nav {
  display: flex;
  flex-direction: column;
}
.link {
  text-decoration: none;
  background-color: white;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 4px;
}
.active {
  background-color: azure;
  border: 1px solid skyblue;
}
#app-content {
  background-color: azure;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}