.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}
.home a {
  text-decoration: none;
}
.home .content {
  text-align: center;
  margin-bottom: 4rem;
}
.home .content img{
  width: 30rem;
  margin-bottom: 1rem;
}
.content .img-desc {
  font-size: 1.2rem;
  color: #2f3542;
}
.news-list .news-item {
  /* display: flex; */
  align-items: center;
  color: #2f3542;
  font-size: 1.2rem;
  margin-bottom: 12px;
}
.news-list .news-item .qingzhu-img {
  display: inline;
  width: 1.2rem;
  margin-right: .5rem;
}